    <%- include('../partials/header.ejs',{title:'I am help page'}) %>
    <%- include('../partials/nav.ejs') %>

    <h1>This is help pages</h1>
    
    <%- include('../partials/p.ejs') %>

    <%- include('../partials/footer.ejs') %>
